<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key ="ServerName" value="Localhost"/>		

		<add key="User" value="root"/>		

		<add key="Password" value="Milen123"/>		
		
		<add key="DatabaseName" value="Kursova_bd_ii0011"/>
		<add key="ServerPort" value="3306"/>		
	</appSettings>
</configuration>